.icon {
    font-size: 200px;
}
.box {
    box-shadow: 0px 0px 5px black;
    width: 200px;
    border-radius: 40px;
    background-color: white;
    position: relative;
    top: 500px;
    left: 500px;
}
.box2 {
    box-shadow: 0px 0px 5px black;
    width: 200px;
    border-radius: 40px;
    background-color: white;
    position: relative;
    top: 300px;
    left: 750px;
}
.box3 {
    box-shadow: 0px 0px 5px black;
    width: 200px;
    border-radius: 40px;
    background-color: white;
    position: relative;
    top: 100px;
    left: 1000px;
}
.box4 {
    box-shadow: 0px 0px 5px black;
    width: 200px;
    border-radius: 40px;
    background-color: white;
    position: relative;
    top: -100px;
    left: 1250px;
}
.box5 {
    box-shadow: 0px 0px 5px black;
    width: 200px;
    border-radius: 40px;
    background-color: white;
    position: relative;
    top: -300px;
    left: 1500px;
}
body {
    background-color: azure;
}